<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alan.dashboard.DAO.Mybatis.DeviceMapper" >

    <resultMap id="BaseResultMap" type="com.alan.dashboard.model.Device" >
        <id column="dev_id" property="id" jdbcType="INTEGER" />
        <result column="site_id" property="siteId" jdbcType="INTEGER" />
        <result column="dev_name" property="name"  jdbcType="VARCHAR" />
        <result column="dev_token" property="token" jdbcType="VARCHAR" />
        <result column="dev_info" property="info" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getRowsBySiteId" resultMap="BaseResultMap" parameterType="int">
        SELECT
        *
        FROM devices where site_id = #{siteId} order by dev_id
    </select>

    <insert id="addDevice" parameterType="com.alan.dashboard.model.Device">
    insert into devices(site_id, dev_name, dev_token, dev_info) values(#{siteId},#{name},#{token},#{info})
    </insert>

    <delete id="delRowsBySiteId" parameterType="int">
        delete from devices where site_id=#{siteId}
    </delete>

    <delete id="deleteDeviceById" parameterType="int">
        delete from devices where dev_id=#{devId}
    </delete>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        *
        FROM devices order by site_id,dev_id
    </select>

    <select id="getOneByName" resultType="com.alan.dashboard.model.Device" parameterType="String">
        SELECT
        dev_id as id,site_id as siteId, dev_name as name, dev_token as token, dev_info as info
        FROM devices where dev_name = #{name}
    </select>

    <resultMap id="devSiteMap" type="com.alan.dashboard.model.DeviceMap">
        <id property="siteId" column="site_id"/>
        <result property="siteName" column="site_name"/>
        <collection property="deviceList" ofType="com.alan.dashboard.model.Device">
            <id column="dev_id" property="id" jdbcType="INTEGER"/>
            <result column="site_id" property="siteId"/>
            <result column="dev_name" property="name"/>
            <result column="dev_token" property="token"/>
            <result column="dev_info" property="info"/>
        </collection>
    </resultMap>

    <select id="getMap" resultMap="devSiteMap">
        select s.site_id, s.site_name, d.* from sites s left join devices d on s.site_id = d.site_id
    </select>
</mapper>