<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alan.dashboard.DAO.Mybatis.SiteMapper" >

    <resultMap id="BaseResultMap" type="com.alan.dashboard.model.Site" >
        <id column="site_id" property="id" jdbcType="INTEGER" />
        <result column="site_name" property="name" jdbcType="VARCHAR" />
    </resultMap>


    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM sites order by site_id desc
    </select>

    <insert id="addSite" parameterType="com.alan.dashboard.model.Site"
            useGeneratedKeys="true" keyProperty="id">
        insert into sites(site_name) values (#{name})
    </insert>

    <delete id="deleteSiteById" parameterType="int">
        delete from sites where site_id=#{id}
    </delete>

    <update id="updateSite" parameterType="com.alan.dashboard.model.Site">
        update sites set site_name=#{name } where site_id=#{id}
    </update>

    <select id="getAllWithMap" resultType="map">
        select site_id,site_name from sites order by site_id
    </select>
</mapper>