#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 800px;
    width:300px;
    float:left;
    padding:5px;
}
#section {
    width:1000px;
    /*left: 0;*/
    height:800px;
    float:left;
    padding:10px;
    background-color: #9d9d9d;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px
}