<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>data</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script th:src="@{/js/data.js}"></script>
</head>
<body >

<div th:include="header.html" id="header">
</div>

<div class="container" id="section" style="font-size: 20px;margin-left: 0px">
    <div class="row" style="border: 1px dot-dash darkslategray;">
        <div class="col-lg-6" style="border-style:outset">
            <div>设备1:信息</div>
            <div>
                <table>
                    <tr>
                        <td>ts: </td><td id="sim1-ts"></td>
                    </tr>
                    <tr>
                        <td>cpu: </td><td id="sim1-cpu"></td>
                    </tr>
                    <tr>
                        <td>mem: </td><td id="sim1-mem"></td>
                    </tr>
                </table>
            </div>
            SIM1:<span id="SIM1"></span>
            <form action="">
                id: <input id="recordId" type="text" name="id">
                <button type="button" onclick="query2()">检索</button>
            </form>
        </div>
    </div>
    <div class="row" style="border: 1px dot-dash darkslategray;">
        <div class="col-lg-4" style="border-style:outset">
            <div>设备2</div>
            <div>
                <table>
                    <tr>
                        <td>ts: </td><td id="sim1-ts">ts</td>
                    </tr>
                    <tr>
                        <td>cpu: </td><td id="sim1-cpu">cpu</td>
                    </tr>
                    <tr>
                        <td>mem: </td><td id="sim1-mem">mem</td>
                    </tr>
                </table>
            </div>
            SIM2:<span id="SIM2"></span>
        </div>
    </div>
    <!--<div style="background-color: darkgrey">-->
        <!--<button type="button" onclick='document.getElementById("sim1").innerHTML=""+new Date()'>刷新</button>-->
        <!--<p><span>sim1:</span><span id="sim1"></span></p>-->
        <!--<button type="button" onclick='ajax_test()'>ajax刷新</button>-->
        <!--<p><span>sim2:</span><span id="sim2"></span></p>-->
    <!--</div>-->
</div>

<div id="footer">
</div>
</body>
</html>