<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deviceStatus</title>
</head>
<body>

<div class="row">
    <div>
        <div style="margin-bottom: 20px">
            场地：<select data-width="80px" id="site" onchange="refreshDevSlt()"
                       style="width:150px; display: inline-block"
                       class="form-control"></select>
            设备：<select data-width="80px" id="device" style="width:150px; display: inline-block"
                       class="form-control"></select>
            <button onclick="getStatus()" class="btn btn-primary">查询</button>
        </div>
        <div id="status" style="">
        </div>
    </div>
</div>
<script src="/js/deviceManagement.js?r=12"></script>
</body>

</html>