<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<nav class="navbar navbar-default" style="font-size: 25px" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">ECUST</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">设备管理</a></li>
                <li><a href="#">设备状态</a></li>
                <li><a href="/data">数据</a></li>
                <li><a href="#">模型</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>