<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data</title>
    <!--<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="/js/history.js?r=12"></script>
    <script src="/js/echarts.js?r=12"></script>
</head>
<body>

<!--<div class="container" id="section" >-->
<!--<div class="row" style="margin-top: 200px">-->
<div class="row">
    <div>
        <div id="debug"></div>
        <div style="margin-bottom: 20px">
            场地：<select data-width="80px" id="site" onchange="refreshDevSlt()" style="width:150px; display: inline-block"
                       class="form-control"></select>
            设备：<select data-width="80px" id="device" style="width:150px; display: inline-block"
                       class="form-control"></select>
            <button onclick="getRecords()" class="btn btn-primary">查询</button>
        </div>
        <div style="display:none;">记录：
            <div id="record"></div>
        </div>
        <div id="main" style="width: 600px;height:400px; background-color: antiquewhite ">
        </div>
    </div>
</div>
<!--</div>-->
</body>

</html>