<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body >
<h1><span style="color: #000000">data stream</span> </h1>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="${name}">Hello,world!</p>
<!--<div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">  -->
<!--<img src="/image/沙滩.jpg" height="100%" width="100%" >  -->
<!--</div>-->

<!--<img src="/image/pod.png">-->
</body>
</html>