<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="bg-gradient-primary" style="background-image:url('/image/沙滩.jpg');background-repeat:no-repeat;background-position:left top; background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; " >
<div class="container" >
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4" style="margin-top: 300px; background-color: white">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                    <h1 class="h4 text-red-900 mb-4" th:text="${hello}" style="color: red">warning info</h1>
                </div>
                <form class="user"  method="post">
                    <div class="form-group">
                        <input type="text" name="id" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="pw" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <button type="submit" href="index.html" class="btn btn-primary btn-user btn-block">登陆</button>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
